.playerCard {
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgb(127, 3, 8);
   min-height: 50px;
   text-align: center;
   border-radius: 10px;
   padding: 5px;
   color: rgb(254, 202, 48);
   margin-bottom: 10px;
}

.playerCard input {
   text-align: center;
   color: black;
}

.playerCard > input {

}