.App {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}


.nav-header {

}


.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 10px;
  flex-grow: 1;
  width: 100%;
}

.form-input-container {
  width: 100%;
}

.form-input-container input {
  height: 30px;
  font-size: 15px;
  width: 100%;
}

tr {
  margin-bottom: 20px;
}

td.min {
  width: 1%;
  white-space: nowrap;
  text-align: start;
}

.pokeball {
  height: 100%;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.button {
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
  border: none;
  background: none;
  display: block;
  background-color: rgb(47, 118, 184);
  border-radius: 10px;
}