.Home-background {
   background-image: url("../../assets/images/Pokemon.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 100vw;
   height: 100vh;
   padding-top: 10vh;
   position: fixed;
   top: 0;
   user-select: none;
}

.Home-logo {
   width: 40%;
   user-select: none;
}

.Home-subtitle {
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
   margin-top: 3vh;
   font-family: 'Press Start 2P', cursive;
   font-size: 50px;
   color: white;
   text-align: center;
}

.Home-subtitle > p {
   background-color: rgba(0, 0, 0, 0.8);
   padding: 10px 10px 10px 10px;
   min-width: 50%;
   margin: 0;
}

.Home-audio {
   position: absolute;
   margin-top: 10vh;
   top: 20px;
   left: 20px;
   padding: 1%;
   border-radius: 100%;
   z-index: 12;
}

.Home-audio.Audio-active {
   background: radial-gradient(circle at center, #f0f3f7 0, #f0f3f7 50%, transparent 70%);
}

.beer {
   height: 80vh;
   position: absolute;
   left: 5%;
   bottom: -20%;
   transform: rotateZ(30deg) scaleX(-1);
   user-select: none;
   z-index: 1;
}

.beer1 {
   height: 80vh;
   position: absolute;
   right: 5%;
   bottom: -20%;
   transform: rotateZ(-30deg);
   user-select: none;
   z-index: 1;
}


.pikachu {
   position: absolute;
   z-index: 4;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
   width: 100vw;
   height: 100vh;
   pointer-events: none;
   user-select: none;
}

img {
   user-select: none;
}

.home-button {
   position: relative;
   z-index: 3;
   font-family: 'Press Start 2P', cursive;
   margin: 15px auto 0 auto;
   padding: 10px;
   border-width: 5px;
   background: none;
   height: 60px;
   display: block;
   background-color: rgb(254, 202, 48);
   border-color: rgb(47, 118, 184);
   border-radius: 10px;
   opacity: 1;
   transition: transform 0.3s ease;
}

.home-button:hover {
   cursor: pointer;
}

.home-button:hover:active {
   transform: scale(0.9);
}

/* .modalCardContainer .submit:hover {
   cursor: not-allowed;
} */


.home-button > span {
   vertical-align: middle;
}



/* Pokeball shake */
.home-button:hover > img {
   animation-name: ballshake;
   animation-duration: 1000ms; /* or: Xms */
   animation-iteration-count: infinite;
   animation-direction: normal; /* or: normal */
   animation-timing-function: linear; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
   animation-fill-mode: forwards; /* or: backwards, both, none */
   animation-delay: 0; /* or: Xms */
}

@keyframes ballshake {
   0%, 100% {
      transform: rotateZ(0);
   }
   5% {
      transform: rotateZ(-15deg);
   }
   15% {
      transform: rotateZ(15deg);
   }
   25% {
      transform: rotateZ(-15deg);
   }
   35% {
      transform: rotateZ(15deg);
   }
   40% {
      transform: rotateZ(0deg);
   }

}
